
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yazar Paneli | Markedia Blog</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/mazer-1.0.0/dist/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/mazer-1.0.0/dist/assets/vendors/iconly/bold.css">
    <link rel="stylesheet" href="~/mazer-1.0.0/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/mazer-1.0.0/dist/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/mazer-1.0.0/dist/assets/css/app.css">
    <link rel="shortcut icon" href="~/mazer-1.0.0/dist/assets/images/favicon.svg" type="image/x-icon">
</head>
<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="index.html"><img src="~/mazer-1.0.0/dist/assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-item">
                            <a href="/Author/Dashboard/Index/" class='sidebar-link'>
                                <i class="bi bi-grid"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-title">İşlemler</li>
                        <li class="sidebar-item">
                            <a href="/Author/Profile/EditMyProfile/" class='sidebar-link'>
                                <i class="bi bi-ui-radios-grid"></i>
                                <span>Profilim</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Author/Article/MyArticles/" class='sidebar-link'>
                                <i class="bi bi-ui-radios-grid"></i>
                                <span>Makale İşlemleri</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Author/Comment/MyCommentList/" class='sidebar-link'>
                                <i class="bi bi-ui-radios-grid"></i>
                                <span>Yorum İşlemleri</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Urun/Index/" class='sidebar-link'>
                                <i class="bi bi-box-seam"></i>
                                <span>Ürün İşlemleri</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Departman/Index/" class='sidebar-link'>
                                <i class="bi bi-card-heading"></i>
                                <span>Departman İşlemleri</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Cari/Index/" class='sidebar-link'>
                                <i class="bi bi-people"></i>
                                <span>Cari İşlemleri</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Personel/PersonelList/" class='sidebar-link'>
                                <i class="bi bi-person-badge"></i>
                                <span>Personel İşlemleri</span>
                            </a>
                        </li>
                        <li class="sidebar-title">Rapor &amp; Fatura</li>
                        <li class="sidebar-item  ">
                            <a href="/Satis/Index/" class='sidebar-link'>
                                <i class="bi bi-inboxes"></i>
                                <span>Satışlar</span>
                            </a>
                        </li>
                        <li class="sidebar-item  ">
                            <a href="/Fatura/Dinamik/" class='sidebar-link'>
                                <i class="bi bi-receipt-cutoff"></i>
                                <span>Faturalar</span>
                            </a>
                        </li>
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-bar-chart-line"></i>
                                <span>Grafikler</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="/Grafik/Index5/">Pie Grafiği</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="/Grafik/Index6/">Line Grafiği</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="/Grafik/Index7/">Column Grafiği</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-title">Diğer</li>
                        <li class="sidebar-item  ">
                            <a href="/Kargo/Index/" class='sidebar-link'>
                                <i class="bi bi-truck"></i>
                                <span>Kargolar</span>
                            </a>
                        </li>
                        <li class="sidebar-item  ">
                            <a href="/Galeri/Index/" class='sidebar-link'>
                                <i class="bi bi-image"></i>
                                <span>Galeri</span>
                            </a>
                        </li>
                        <li class="sidebar-item  ">
                            <a href="/Login/LogOut/" class='sidebar-link'>
                                <i class="bi bi-signpost"></i>
                                <span>Çıkış Yap</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main" class="d-flex flex-column min-vh-100">
            @RenderBody()
            <footer class="mt-auto w-100 text-center">
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>@DateTime.Now.Year &copy; Mazer</p>
                    </div>
                    <div class="float-end">
                        <p>
                            Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="http://ahmadsaugi.com">A. Saugi</a>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/mazer-1.0.0/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/mazer-1.0.0/dist/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/mazer-1.0.0/dist/assets/vendors/apexcharts/apexcharts.js"></script>
    <script src="~/mazer-1.0.0/dist/assets/js/pages/dashboard.js"></script>
    <script src="~/mazer-1.0.0/dist/assets/js/main.js"></script>
</body>
</html>