@model RegisterViewModel

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/login-form-01/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/login-form-01/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/login-form-01/css/bootstrap.min.css">
    <link rel="stylesheet" href="/login-form-01/css/style.css">
    <title>Kayıt Ol | Markedia Blog</title>
</head>
<body>
    <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2" style="background-image: url('/login-form-01/images/bg_1.jpg');"></div>
        <div class="contents order-2 order-md-1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7">
                        <h3><strong>Markedia Blog</strong><br />Kullanıcı Kayıt Formu</h3>
                        <p class="mb-4">Markedia Blog projesi 2 ana panel üzerine geliştirilmekte olan bir Asp.Net Core projesidir.</p>
                        <form method="post">
                            <div class="row">
                                <div class="col-6 p-0">
                                    <div class="form-group">
                                        <label for="username">Ad</label>
                                        <input type="text" asp-for="Name" class="form-control" placeholder="Adınızı yazın">
                                    </div>
                                </div>
                                <div class="col-6 p-0">
                                    <div class="form-group">
                                        <label for="username">Soyad</label>
                                        <input type="text" asp-for="Surname" class="form-control" placeholder="Soyadınızı yazın">
                                    </div>
                                </div>
                                <div class="col-12 p-0">
                                    <div class="form-group">
                                        <label for="username">E-Posta Adresi</label>
                                        <input type="text" asp-for="Email" class="form-control" placeholder="E-Posta adresinizi yazın">
                                    </div>
                                </div>
                                <div class="col-6 p-0">
                                    <div class="form-group">
                                        <label for="username">Kullanıcı Adı</label>
                                        <input type="text" asp-for="Username" class="form-control" placeholder="Kullanıcı adınızı yazın">
                                    </div>
                                </div>
                                <div class="col-6 p-0">
                                    <div class="form-group mb-3">
                                        <label for="password">Şifre</label>
                                        <input type="password" asp-for="Password" class="form-control" placeholder="Şifrenizi yazın">
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="Kayıt Ol" class="btn btn-block btn-primary">
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/login-form-01/js/jquery-3.3.1.min.js"></script>
    <script src="/login-form-01/js/popper.min.js"></script>
    <script src="/login-form-01/js/bootstrap.min.js"></script>
    <script src="/login-form-01/js/main.js"></script>
</body>
</html>