@model List<SocialMediaAccount>

<div class="topsocial">
    @foreach (var item in Model)
    {
        <a href="@item.Url">
            <i class="@item.Icon" style="width:15px; height:15px"></i>
        </a>
    }
</div>